body {
  background: linear-gradient(307deg, #3c51c1, #c1433c, #d884dd);
background-size: 600% 600%;

-webkit-animation: AnimationName 5s ease infinite;
-moz-animation: AnimationName 5s ease infinite;
animation: AnimationName 5s ease infinite;
    text-align: center;
}
@-webkit-keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@keyframes AnimationName {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}
.p2{
  position: relative;
  bottom: 250px;
  font-size: 1rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}
.p1 {
  position: relative;
  bottom: 450px;

  font-size: 1rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.z {
  background-image: url("images/tom1.png");
}

.x {
  background-image: url("images/tom2.png");
}

.c {
  background-image: url("images/tom3.png");
}

.v {
  background-image: url("images/tom4.png");
}

.b {
  background-image: url("images/snare.png");
}

.n {
  background-image: url("images/crash.png");
}

.m {
  background-image: url("images/kick.png");
}

.set {

}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #73c6b8;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 75px;
  height: 75px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.black-keys {
  display: flex;
  height: 97vh;
  width: 99vw;
  justify-content: center;
  align-items: center;
}

.black-keys kbd {

  bottom: 25px;
  display: inline-block;
  position:relative;
  bottom:275px;


  height: 150px;
  width: 50px;
  font-size: 35px;
  color: #fff;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  border-radius: 12px;
  background-color: #000;
}

.left-keys {
  position: relative;
  left: 23px;
  margin-left: -50px;
  margin-right: 68px;
}

.right-keys {
  position: relative;
  left: 44px;
  margin-right: 15px;
}

.white-keys {
  position: absolute;
  top: 50px;
  display: flex;
  height: 97vh;
  width: 99vw;
  justify-content: center;
  align-items: center;
}

.white-keys kbd {
  display: inline-block;
  height: 200px;
  width: 70px;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  font-size: 35px;
  text-align: center;
  line-height: 10;
  background-color: #fff;
}



/* CSS */
.button-19 {
  position: relative;
  bottom:350px;
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}
